# ARCHIVOS Y CARPETAS QUE NO SE SUBEN A GITHUB
# LA BASE DE DATOS DEL SISTEMA
*.db

# LOS ARCHIVOS COPILADOS DE PYTHON
__pycache__/
*.pyc
*.pyo
*.pyd

# LOS ARCHIVOS DE CONFIGURACION
config/

# ENTORNO VIRTUAL
.venv/

# CARPETAS DE LOS EJECUTABLES
build/
dist/
ModernCareClinic.spec