# ARCHIVOS Y CARPETAS QUE NO SE SUBEN A GITHUB
# LA BASE DE DATOS DEL SISTEMA
*.db

# LOS ARCHIVOS COPILADOS DE PYTHON
__pycache__/
*.pyc
*.pyo
*.pyd

# LOS REPORTES GENERADOS POR EL SISTEMA
reports/

# LOS ARCHIVOS QUE CONTIENEN INFORMACION DE LA BASE DE DATOS
database/

# LOS ARCHIVOS DE CONFIGURACION
config/

# ENTORNO VIRTUAL
.venv/